# Archivos de compilación
target/
build/

# JARs y WARs
*.jar
*.war

# Logs
*.log

# Configuración de IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Sistema operativo
.DS_Store
Thumbs.db
